@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.socials{
  @apply w-6;
}

.footer__align{
  @apply w-11/12 mx-auto; 
}

.label{
  @apply block mb-3 font-thin ;
}

.input{
  @apply w-full border-b border-solid border-b-[#00000069] bg-transparent mb-10 ;
}

.pricing__section{
  @apply flex justify-between mb-10
}

.pricing__cards{
  @apply relative aspect-square w-60
}
